

    <td class="td-number-3" style="background-color: #d9d9d9;">
        <h5 style="margin-top: 8px !important;">
            {{requirement.numerationToShow}}</h5>
    </td>
    <td  class="" style="background-color: #d9d9d9; width: 100% !important;">
        <h5 style="margin-top: 8px !important;"> {{requirement.name}} </h5>
    </td>



<!-- <ng-container *ngIf="requirement.children">
    <ng-container *ngIf="requirement.children.length == 0">

        <ng-container *ngIf="requirement.requirementEvaluations">
            <ng-container *ngIf="requirement.requirementEvaluations.length>0">
                <app-child-requirement-evaluation
                    [requirementEvaluations]="requirement.requirementEvaluations"></app-child-requirement-evaluation>
            </ng-container>
        </ng-container>

    </ng-container>
</ng-container> -->


<ng-container *ngIf="requirement.children">

    <ng-container *ngFor="let child of requirement.children;">

        <app-child-requirement [requirement]="child"></app-child-requirement>
    </ng-container>

</ng-container>