<div Class="content-wrapper">
    <div Class="content-body">

        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <section class="app-user-edit">

            <section >
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-body">

                                <div class="row">
                                    <div class="d-flex justify-content-between flex-column col-xl-12 col-21">
                                        <div class="d-flex justify-content-start">

                                            <a container="body" placement="top" title="Ir al listado"
                                                (click)="navigateToBack()" class="mr-1"
                                                style="margin-top:0px;font-size: 50px;">
                                                <div class="icon-wrapper">
                                                    <i class="feather font-medium-5 icon-arrow-left"></i>
                                                </div>
                                            </a>

                                            <div class="d-flex flex-column ml-1">
                                                <div style="margin-top: 15px;">
                                                    <h1 style="margin-bottom: 5px;">
                                                        {{title}} </h1>
                                                    <span class="card-text" style="margin-bottom: 15px;">
                                                        {{subtitle}}
                                                    </span>
                                                    <br>


                                                </div>

                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-1">

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!---->
                            <!---->
                        </div>
                    </div>

                </div>
            </section>

            <div class="card">
                <div class="card-body">

                    <ul ngbNav #nav="ngbNav" style="margin-top: -10px !important;" class="nav nav-pills">

                        <li ngbNavItem [ngbNavItem]="2">

                            <a ngbNavLink class="d-flex align-items-center">
                                <!-- <i data-feather="list" class="mr-sm-50"></i> -->
                                <i data-feather='list' class="mr-sm-50"></i>
                                <span class="d-none d-sm-block"> REQUISITOS QUE SUSTENTA
                                </span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="tab-pane" id="account2" aria-labelledby="account-tab" role="tabpanel">

                                    <div class="card border" style="margin-top: -10px !important;">
                                        <div class="card-body">
                                            <app-support-for-requirement [standardId]="standardId" [documentationId]="id" [name]="title"></app-support-for-requirement>
                                        </div>
                                    </div>

                                </div>
                            </ng-template>
                        </li>

                        <li ngbNavItem [ngbNavItem]="3">

                            <a ngbNavLink class="d-flex align-items-center">
                                <!-- <i data-feather="list" class="mr-sm-50"></i> -->
                                <i data-feather='list' class="mr-sm-50"></i>
                                <span class="d-none d-sm-block"> CONTROLES QUE SUSTENTA
                                </span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="tab-pane" id="account2" aria-labelledby="account-tab" role="tabpanel">

                                    <div class="card border" style="margin-top: -10px !important;">
                                        <div class="card-body">
                                            <app-support-for-control [standardId]="standardId" [documentationId]="id" [name]="title"></app-support-for-control>
                                        </div>
                                    </div>

                                </div>
                            </ng-template>
                        </li>

                    </ul>
                    <div [ngbNavOutlet]="nav" class="mt-2"></div>


                </div>
            </div>



        </section>

    </div>
</div>