<ng-container *ngIf="loading">


    <div mat-dialog-title class="d-flex align-items-center" style="margin-top:-5px;">
        <h4>...</h4>
        <div class="template-demo d-flex justify-content-between flex-nowrap ml-auto"
            style="margin-top:-10px; margin-right:-16px;">

            <button type="button" rippleeffect="" class="btn btn-flat-dark waves-effect" (click)="close()">
                <div class="icon-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </div>
            </button>

        </div>
    </div>

    <div class="container text-center mt-5">

        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>

    </div>

</ng-container>

<ng-container *ngIf="!loading">


    <div mat-dialog-title class="d-flex align-items-center" style="margin-top:-5px;">
        <h4>{{title}}</h4>
        <div class="template-demo d-flex justify-content-between flex-nowrap ml-auto"
            style="margin-top:-10px; margin-right:-16px;">

            <button type="button" rippleeffect="" class="btn btn-flat-dark waves-effect" (click)="close()">
                <div class="icon-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </div>
            </button>

        </div>
    </div>


    <ul ngbNav #nav="ngbNav" style="margin-top: -10px !important;" class="nav nav-pills">
        <li ngbNavItem [ngbNavItem]="1">

            <a ngbNavLink class="d-flex align-items-center"><i data-feather="grid" class="mr-sm-50"></i>
                <span class="d-none d-sm-block ">DATOS DEL RIESGO</span>

            </a>
            <ng-template ngbNavContent>
                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">


                    <div class="card border" style="margin-top: -10px !important;">
                        <div class="card-body">

                            <small class="form-text text-muted mb-2 text-center" style="margin-top: -10px;">Los campos
                                con(*)
                                son obligatorios</small>

                            <form [formGroup]="form" (ngSubmit)="save()" class="auth-login-form mt-0"
                                autocomplete="off">
                                <div class="form-group">

                                    <div style="display:flex; margin-bottom:-10px;">
                                        <label class="form-label">Nombre</label>
                                        <label style="margin-left: 5px;">(</label>
                                        <label style="font-size: 22px; margin-top:-1px;">*</label>
                                        <label>)</label>
                                    </div>
                                    <input type="text" formControlName="name"
                                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }" maxlength="200"
                                        class="form-control" aria-describedby="" autofocus="" tabindex="1">
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">El nombre es obligatorio</div>
                                        <div *ngIf="f.name.errors.maxlength">El nombre no puede tener mas de 200
                                            caracteres </div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div style="display:flex; margin-bottom:-10px;">
                                        <label class="form-label">Amenaza</label>
                                        <label style="margin-left: 5px;">(</label>
                                        <label style="font-size: 22px; margin-top:-1px;">*</label>
                                        <label>)</label>
                                    </div>
                                    <select formControlName="menaceId"
                                        [ngClass]="{ 'is-invalid': submitted && f.menaceId.errors }"
                                        class="form-control" tabindex="1">
                                        <option value=""> Seleccione </option>
                                        <option *ngFor="let menace of menaces" [value]="menace.menaceId">{{
                                            menace.name}} </option>
                                    </select>
                                    <div *ngIf="submitted && f.menaceId.errors" class="invalid-feedback">
                                        <div *ngIf="f.menaceId.errors.required">La amenaza es obligatorio</div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div style="display:flex; margin-bottom:-10px;">
                                        <label class="form-label">Vulnerabilidad</label>
                                        <label style="margin-left: 5px;">(</label>
                                        <label style="font-size: 22px; margin-top:-1px;">*</label>
                                        <label>)</label>
                                    </div>
                                    <select formControlName="vulnerabilityId"
                                        [ngClass]="{ 'is-invalid': submitted && f.vulnerabilityId.errors }"
                                        class="form-control" tabindex="1">
                                        <option value=""> Seleccione </option>
                                        <option *ngFor="let vulnerability of vulnerabilities"
                                            [value]="vulnerability.vulnerabilityId">{{
                                            vulnerability.name}} </option>
                                    </select>
                                    <div *ngIf="submitted && f.vulnerabilityId.errors" class="invalid-feedback">
                                        <div *ngIf="f.vulnerabilityId.errors.required">La vulnerabilidad es obligatorio
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12 text-center mt-3">
                                    <button *ngIf="!loading2" type="submit" rippleeffect=""
                                        class="btn btn-primary mr-1 waves-effect" style="width:180px;height: 40px;"
                                        tabindex="1">GUARDAR</button>
                                    <button *ngIf="loading2" type="button" disabled="" rippleeffect=""
                                        class="btn btn-outline-primary waves-effect mr-1"
                                        style="width:180px;height: 40px;">
                                        <span role="status" aria-hidden="true"
                                            class="spinner-border spinner-border-sm"></span>
                                        <span class="ml-25 align-middle">Guardando...</span>
                                    </button>
                                    <button type="reset" rippleeffect="" class="btn btn-outline-secondary waves-effect"
                                        (click)="close()" tabindex="1">CANCELAR</button>
                                </div>


                            </form>

                        </div>
                    </div>

                </div>
            </ng-template>
        </li>

        <li ngbNavItem [ngbNavItem]="3">

            <a ngbNavLink class="d-flex align-items-center">
                <!-- <i data-feather="list" class="mr-sm-50"></i> -->
                <i data-feather='list' class="mr-sm-50"></i>
                <span class="d-none d-sm-block"> ACTIVOS
                </span>
            </a>
            <ng-template ngbNavContent>
                <div class="tab-pane" id="account2" aria-labelledby="account-tab" role="tabpanel">

                    <div class="card border" style="margin-top: -10px !important;">
                        <div class="card-body">
                            <app-actives-inventory-in-default-risk-by-default-risk [defaultRiskId]="id">
                            </app-actives-inventory-in-default-risk-by-default-risk>
                        </div>
                    </div>

                </div>
            </ng-template>
        </li>

    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>


</ng-container>