<div class="content-wrapper container-xxl p-0 ecommerce-application ng-star-inserted">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="content-body">
        <section id="wishlist" class="grid-view wishlist-items"><!----><!---->
            <div class="ecommerce-application card ecommerce-card ng-star-inserted">
                <div class="item-img text-center"><a
                        href="/vuexy-angular-admin-template/demo-1/apps/e-commerce/details/26"><img
                            alt="img-placeholder" class="img-fluid card-img-top"
                            src="assets/images/pages/eCommerce/52.jpg"></a></div>
                <div class="card-body">

                    <h6 class="item-name"><a class="text-body"
                            href="/vuexy-angular-admin-template/demo-1/apps/e-commerce/details/50"> Impresora 3D Guider II
                            (64GB, Black)</a><span class="card-text item-company">By <a href="javascript:void(0)"
                                class="company-name">Apple</a></span></h6>
                    <p class="card-text item-description"> The Apple iPhone 11 is a great smartphone, which was loaded
                        with a lot of quality features. It comes with a
                        waterproof and dustproof body which is the key attraction of the device. The excellent set of
                        cameras offer
                        excellent images as well as capable of recording crisp videos. However, expandable storage and a
                        fingerprint
                        scanner would have made it a perfect option to go for around this price range. </p>
                </div>
                <div class="item-options text-center">
                    <div class="item-wrapper">
                        <div class="item-cost">
                            <h4 class="item-price">$669.99</h4>
                            <p class="card-text shipping ng-star-inserted"><span
                                    class="badge badge-pill badge-light-success">Free Shipping</span></p><!---->
                        </div>
                    </div><a href="javascript:void(0)" rippleeffect=""
                        class="btn btn-light btn-wishlist waves-effect waves-float waves-light ng-star-inserted"><svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-x">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg><span>Eliminar</span></a><!----><!----><!---->

                    <a (click)="add()" rippleeffect=""
                        class="btn btn-primary btn-cart waves-effect waves-float waves-light ng-star-inserted"><svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-shopping-cart mr-25">
                            <circle cx="9" cy="21" r="1"></circle>
                            <circle cx="20" cy="21" r="1"></circle>
                            <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                        </svg><span class="add-to-cart">Ver detalle</span>
                    </a><!---->
                </div>
            </div><!----><!----><!----><!----><!----><!---->
            <div class="ecommerce-application card ecommerce-card ng-star-inserted">
                <div class="item-img text-center"><a
                        href="/vuexy-angular-admin-template/demo-1/apps/e-commerce/details/23"><img
                            alt="img-placeholder" class="img-fluid card-img-top"
                            src="assets/images/pages/eCommerce/13.png"></a></div>
                <div class="card-body">
                    <div class="item-wrapper">
                        <div class="item-rating">
                            <div class="rating rating-sm"><ngb-rating role="slider" aria-valuemin="0"
                                    class="d-inline-flex outline-none" tabindex="0" aria-valuemax="5" aria-valuenow="4"
                                    aria-valuetext="4 out of 5" aria-disabled="true"><!----><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">( )</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 ng-star-inserted"></span><!----></span><!----></ngb-rating>
                            </div>
                        </div>
                      
                    </div>
                    <h6 class="item-name"><a class="text-body"
                            href="/vuexy-angular-admin-template/demo-1/apps/e-commerce/details/23"> Apple - MacBook Air®
                            (Latest Model) - 13.3" Display - Silver</a><span class="card-text item-company">By <a
                                href="javascript:void(0)" class="company-name">Apple</a></span></h6>
                    <p class="card-text item-description"> MacBook Air is a thin, lightweight laptop from Apple. MacBook
                        Air features up to 8GB of memory, a
                        fifth-generation Intel Core processor, Thunderbolt 2, great built-in apps, and all-day battery
                        life.1 Its thin,
                        light, and durable enough to take everywhere you go-and powerful enough to do everything once
                        you get there,
                        better. </p>
                </div>
                <div class="item-options text-center">
                    <div class="item-wrapper">
                       
                    </div><a href="javascript:void(0)" rippleeffect=""
                        class="btn btn-light btn-wishlist waves-effect waves-float waves-light ng-star-inserted"><svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-x">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg><span>Elminar</span></a><!----><!----><!----><a routerlink="/apps/e-commerce/checkout"
                        rippleeffect=""
                        class="btn btn-primary btn-cart waves-effect waves-float waves-light ng-star-inserted"
                        href="/vuexy-angular-admin-template/demo-1/apps/e-commerce/checkout"><svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-shopping-cart mr-25">
                            <circle cx="9" cy="21" r="1"></circle>
                            <circle cx="20" cy="21" r="1"></circle>
                            <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                        </svg><span class="add-to-cart">Ver detalle</span></a><!---->
                </div>
            </div><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
            <div class="ecommerce-application card ecommerce-card ng-star-inserted">
                <div class="item-img text-center"><a
                        href="/vuexy-angular-admin-template/demo-1/apps/e-commerce/details/17"><img
                            alt="img-placeholder" class="img-fluid card-img-top"
                            src="assets/images/pages/eCommerce/11.png"></a></div>
                <div class="card-body">
                    <div class="item-wrapper">
                        <div class="item-rating">
                            <div class="rating rating-sm"><ngb-rating role="slider" aria-valuemin="0"
                                    class="d-inline-flex outline-none" tabindex="0" aria-valuemax="5" aria-valuenow="5"
                                    aria-valuetext="5 out of 5" aria-disabled="true"><!----><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><!----></ngb-rating>
                            </div>
                        </div>
                        <div class="item-cost">
                            <h6 class="item-price">$81.99</h6>
                        </div>
                    </div>
                    <h6 class="item-name"><a class="text-body"
                            href="/vuexy-angular-admin-template/demo-1/apps/e-commerce/details/17"> Nike Air
                            Max</a><span class="card-text item-company">By <a href="javascript:void(0)"
                                class="company-name">Nike</a></span></h6>
                    <p class="card-text item-description"> With a bold application of colorblocking inspired by modern
                        art styles, the Nike Air Max 270 React sneaker is constructed with layers of lightweight
                        material to achieve its artful look and comfortable feel. </p>
                </div>
                <div class="item-options text-center">
                    <div class="item-wrapper">
                        <div class="item-cost">
                            <h4 class="item-price">$81.99</h4>
                            <p class="card-text shipping ng-star-inserted"><span
                                    class="badge badge-pill badge-light-success">Free Shipping</span></p><!---->
                        </div>
                    </div><a href="javascript:void(0)" rippleeffect=""
                        class="btn btn-light btn-wishlist waves-effect waves-float waves-light ng-star-inserted"><svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-x">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg><span>Elminar</span></a><!----><!----><a href="javascript:void(0)" rippleeffect=""
                        class="btn btn-primary btn-cart waves-effect waves-float waves-light ng-star-inserted"><svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-shopping-cart mr-25">
                            <circle cx="9" cy="21" r="1"></circle>
                            <circle cx="20" cy="21" r="1"></circle>
                            <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                        </svg><span class="add-to-cart">Ver detalle</span></a><!----><!---->
                </div>
            </div><!----><!----><!----><!----><!----><!----><!----><!---->
            <div class="ecommerce-application card ecommerce-card ng-star-inserted">
                <div class="item-img text-center"><a
                        href="/vuexy-angular-admin-template/demo-1/apps/e-commerce/details/13"><img
                            alt="img-placeholder" class="img-fluid card-img-top"
                            src="assets/images/pages/eCommerce/15.png"></a></div>
                <div class="card-body">
                    <div class="item-wrapper">
                        <div class="item-rating">
                            <div class="rating rating-sm"><ngb-rating role="slider" aria-valuemin="0"
                                    class="d-inline-flex outline-none" tabindex="0" aria-valuemax="5" aria-valuenow="5"
                                    aria-valuetext="5 out of 5" aria-disabled="true"><!----><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><!----></ngb-rating>
                            </div>
                        </div>
                        <div class="item-cost">
                            <h6 class="item-price">$29.99</h6>
                        </div>
                    </div>
                    <h6 class="item-name"><a class="text-body"
                            href="/vuexy-angular-admin-template/demo-1/apps/e-commerce/details/13"> Laptop Bag</a><span
                            class="card-text item-company">By <a href="javascript:void(0)"
                                class="company-name">TAS</a></span></h6>
                    <p class="card-text item-description"> TSA FRIENDLY- A separate DIGI SMART compartment can hold 15.6
                        inch Laptop as well as 15 inch, 14 inch Macbook, 12.9 inch iPad, and tech accessories like
                        charger for quick TSA checkpoint when traveling </p>
                </div>
                <div class="item-options text-center">
                    <div class="item-wrapper">
                        <div class="item-cost">
                            <h4 class="item-price">$29.99</h4>
                            <p class="card-text shipping ng-star-inserted"><span
                                    class="badge badge-pill badge-light-success">Free Shipping</span></p><!---->
                        </div>
                    </div><a href="javascript:void(0)" rippleeffect=""
                        class="btn btn-light btn-wishlist waves-effect waves-float waves-light ng-star-inserted"><svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-x">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg><span>Elminar</span></a><!----><!----><a href="javascript:void(0)" rippleeffect=""
                        class="btn btn-primary btn-cart waves-effect waves-float waves-light ng-star-inserted"><svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-shopping-cart mr-25">
                            <circle cx="9" cy="21" r="1"></circle>
                            <circle cx="20" cy="21" r="1"></circle>
                            <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                        </svg><span class="add-to-cart">Ver detalle</span></a><!----><!---->
                </div>
            </div><!----><!----><!----><!---->
            <div class="ecommerce-application card ecommerce-card ng-star-inserted">
                <div class="item-img text-center"><a
                        href="/vuexy-angular-admin-template/demo-1/apps/e-commerce/details/11"><img
                            alt="img-placeholder" class="img-fluid card-img-top"
                            src="assets/images/pages/eCommerce/17.png"></a></div>
                <div class="card-body">
                    <div class="item-wrapper">
                        <div class="item-rating">
                            <div class="rating rating-sm"><ngb-rating role="slider" aria-valuemin="0"
                                    class="d-inline-flex outline-none" tabindex="0" aria-valuemax="5" aria-valuenow="3"
                                    aria-valuetext="3 out of 5" aria-disabled="true"><!----><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">( )</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">( )</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 ng-star-inserted"></span><!----></span><!----></ngb-rating>
                            </div>
                        </div>
                        <div class="item-cost">
                            <h6 class="item-price">$39.99</h6>
                        </div>
                    </div>
                    <h6 class="item-name"><a class="text-body"
                            href="/vuexy-angular-admin-template/demo-1/apps/e-commerce/details/11"> Handbags for Women
                            Large Designer bag</a><span class="card-text item-company">By <a href="javascript:void(0)"
                                class="company-name">Hobo</a></span></h6>
                    <p class="card-text item-description"> Classic Hobo Purse: Top zipper closure, with 2 side zipper
                        pockets design and elegant tassels decoration, fashionable and practical handbags for women,
                        perfect for shopping, dating, travel and business </p>
                </div>
                <div class="item-options text-center">
                    <div class="item-wrapper">
                        <div class="item-cost">
                            <h4 class="item-price">$39.99</h4>
                            <p class="card-text shipping ng-star-inserted"><span
                                    class="badge badge-pill badge-light-success">Free Shipping</span></p><!---->
                        </div>
                    </div><a href="javascript:void(0)" rippleeffect=""
                        class="btn btn-light btn-wishlist waves-effect waves-float waves-light ng-star-inserted"><svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-x">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg><span>Elminar</span></a><!----><!----><a href="javascript:void(0)" rippleeffect=""
                        class="btn btn-primary btn-cart waves-effect waves-float waves-light ng-star-inserted"><svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-shopping-cart mr-25">
                            <circle cx="9" cy="21" r="1"></circle>
                            <circle cx="20" cy="21" r="1"></circle>
                            <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                        </svg><span class="add-to-cart">Ver detalle</span></a><!----><!---->
                </div>
            </div><!----><!---->
            <div class="ecommerce-application card ecommerce-card ng-star-inserted">
                <div class="item-img text-center"><a
                        href="/vuexy-angular-admin-template/demo-1/apps/e-commerce/details/10"><img
                            alt="img-placeholder" class="img-fluid card-img-top"
                            src="assets/images/pages/eCommerce/18.png"></a></div>
                <div class="card-body">
                    <div class="item-wrapper">
                        <div class="item-rating">
                            <div class="rating rating-sm"><ngb-rating role="slider" aria-valuemin="0"
                                    class="d-inline-flex outline-none" tabindex="0" aria-valuemax="5" aria-valuenow="1"
                                    aria-valuetext="1 out of 5" aria-disabled="true"><!----><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">( )</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">( )</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">( )</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">( )</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 ng-star-inserted"></span><!----></span><!----></ngb-rating>
                            </div>
                        </div>
                        <div class="item-cost">
                            <h6 class="item-price">$645</h6>
                        </div>
                    </div>
                    <h6 class="item-name"><a class="text-body"
                            href="/vuexy-angular-admin-template/demo-1/apps/e-commerce/details/10"> Oculus Quest
                            All-in-one VR</a><span class="card-text item-company">By <a href="javascript:void(0)"
                                class="company-name">Oculus</a></span></h6>
                    <p class="card-text item-description"> All-in-one VR: No PC. No wires. No limits. Oculus quest is an
                        all-in-one gaming system built for virtual reality. Now you can play almost anywhere with just a
                        VR headset and controllers. Oculus touch controllers: arm yourself with the award-winning Oculus
                        touch controllers. Your slashes, throws and grab appear in VR with intuitive, realistic
                        Precision, transporting your hands and gestures right into the game </p>
                </div>
                <div class="item-options text-center">
                    <div class="item-wrapper">
                        <div class="item-cost">
                            <h4 class="item-price">$645</h4><!---->
                        </div>
                    </div><a href="javascript:void(0)" rippleeffect=""
                        class="btn btn-light btn-wishlist waves-effect waves-float waves-light ng-star-inserted"><svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-x">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg><span>Elminar</span></a><!----><!----><a href="javascript:void(0)" rippleeffect=""
                        class="btn btn-primary btn-cart waves-effect waves-float waves-light ng-star-inserted"><svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-shopping-cart mr-25">
                            <circle cx="9" cy="21" r="1"></circle>
                            <circle cx="20" cy="21" r="1"></circle>
                            <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                        </svg><span class="add-to-cart">Ver detalle</span></a><!----><!---->
                </div>
            </div><!----><!---->
            <div class="ecommerce-application card ecommerce-card ng-star-inserted">
                <div class="item-img text-center"><a
                        href="/vuexy-angular-admin-template/demo-1/apps/e-commerce/details/9"><img alt="img-placeholder"
                            class="img-fluid card-img-top" src="assets/images/pages/eCommerce/19.png"></a></div>
                <div class="card-body">
                    <div class="item-wrapper">
                        <div class="item-rating">
                            <div class="rating rating-sm"><ngb-rating role="slider" aria-valuemin="0"
                                    class="d-inline-flex outline-none" tabindex="0" aria-valuemax="5" aria-valuenow="4"
                                    aria-valuetext="4 out of 5" aria-disabled="true"><!----><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">( )</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 ng-star-inserted"></span><!----></span><!----></ngb-rating>
                            </div>
                        </div>
                        <div class="item-cost">
                            <h6 class="item-price">$16.99</h6>
                        </div>
                    </div>
                    <h6 class="item-name"><a class="text-body"
                            href="/vuexy-angular-admin-template/demo-1/apps/e-commerce/details/9"> Giotto 32oz Leakproof
                            BPA Free Drinking Water</a><span class="card-text item-company">By <a
                                href="javascript:void(0)" class="company-name">3M</a></span></h6>
                    <p class="card-text item-description"> With unique inspirational quote and time markers on it,this
                        water bottle is great for measuring your daily intake of water,reminding you stay hydrated and
                        drink enough water throughout the day.A must have for any fitness goals including weight
                        loss,appetite control and overall health. </p>
                </div>
                <div class="item-options text-center">
                    <div class="item-wrapper">
                        <div class="item-cost">
                            <h4 class="item-price">$16.99</h4>
                            <p class="card-text shipping ng-star-inserted"><span
                                    class="badge badge-pill badge-light-success">Free Shipping</span></p><!---->
                        </div>
                    </div><a href="javascript:void(0)" rippleeffect=""
                        class="btn btn-light btn-wishlist waves-effect waves-float waves-light ng-star-inserted"><svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-x">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg><span>Elminar</span></a><!----><!----><a href="javascript:void(0)" rippleeffect=""
                        class="btn btn-primary btn-cart waves-effect waves-float waves-light ng-star-inserted"><svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-shopping-cart mr-25">
                            <circle cx="9" cy="21" r="1"></circle>
                            <circle cx="20" cy="21" r="1"></circle>
                            <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                        </svg><span class="add-to-cart">Ver detalle</span></a><!----><!---->
                </div>
            </div><!----><!---->
            <div class="ecommerce-application card ecommerce-card ng-star-inserted">
                <div class="item-img text-center"><a
                        href="/vuexy-angular-admin-template/demo-1/apps/e-commerce/details/8"><img alt="img-placeholder"
                            class="img-fluid card-img-top" src="assets/images/pages/eCommerce/20.png"></a></div>
                <div class="card-body">
                    <div class="item-wrapper">
                        <div class="item-rating">
                            <div class="rating rating-sm"><ngb-rating role="slider" aria-valuemin="0"
                                    class="d-inline-flex outline-none" tabindex="0" aria-valuemax="5" aria-valuenow="4"
                                    aria-valuetext="4 out of 5" aria-disabled="true"><!----><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">( )</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 ng-star-inserted"></span><!----></span><!----></ngb-rating>
                            </div>
                        </div>
                        <div class="item-cost">
                            <h6 class="item-price">$339.95</h6>
                        </div>
                    </div>
                    <h6 class="item-name"><a class="text-body"
                            href="/vuexy-angular-admin-template/demo-1/apps/e-commerce/details/8"> PlayStation 4
                            Console</a><span class="card-text item-company">By <a href="javascript:void(0)"
                                class="company-name">Sony</a></span></h6>
                    <p class="card-text item-description"> All the greatest, games, TV, music and more. Connect with
                        your friends to broadcast and celebrate your epic moments at the press of the Share button to
                        Twitch, YouTube, Facebook and Twitter. </p>
                </div>
                <div class="item-options text-center">
                    <div class="item-wrapper">
                        <div class="item-cost">
                            <h4 class="item-price">$339.95</h4><!---->
                        </div>
                    </div><a href="javascript:void(0)" rippleeffect=""
                        class="btn btn-light btn-wishlist waves-effect waves-float waves-light ng-star-inserted"><svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-x">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg><span>Elminar</span></a><!----><!----><a href="javascript:void(0)" rippleeffect=""
                        class="btn btn-primary btn-cart waves-effect waves-float waves-light ng-star-inserted"><svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-shopping-cart mr-25">
                            <circle cx="9" cy="21" r="1"></circle>
                            <circle cx="20" cy="21" r="1"></circle>
                            <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                        </svg><span class="add-to-cart">Ver detalle</span></a><!----><!---->
                </div>
            </div><!----><!----><!----><!----><!----><!---->
            <div class="ecommerce-application card ecommerce-card ng-star-inserted">
                <div class="item-img text-center"><a
                        href="/vuexy-angular-admin-template/demo-1/apps/e-commerce/details/5"><img alt="img-placeholder"
                            class="img-fluid card-img-top" src="assets/images/pages/eCommerce/23.png"></a></div>
                <div class="card-body">
                    <div class="item-wrapper">
                        <div class="item-rating">
                            <div class="rating rating-sm"><ngb-rating role="slider" aria-valuemin="0"
                                    class="d-inline-flex outline-none" tabindex="0" aria-valuemax="5" aria-valuenow="2"
                                    aria-valuetext="2 out of 5" aria-disabled="true"><!----><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">(*)</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 fa-star ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">( )</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">( )</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 ng-star-inserted"></span><!----></span><span
                                        class="sr-only ng-star-inserted">( )</span><span class="ng-star-inserted"
                                        style="cursor: default;"><span
                                            class="fa fa-star-o mr-25 ng-star-inserted"></span><!----></span><!----></ngb-rating>
                            </div>
                        </div>
                        <div class="item-cost">
                            <h6 class="item-price">$69.99</h6>
                        </div>
                    </div>
                    <h6 class="item-name"><a class="text-body"
                            href="/vuexy-angular-admin-template/demo-1/apps/e-commerce/details/5"> Toshiba Canvio
                            Advance 2TB Portable External Hard Drive</a><span class="card-text item-company">By <a
                                href="javascript:void(0)" class="company-name">Toshiba</a></span></h6>
                    <p class="card-text item-description"> Up to 3TB of storage capacity to store your growing files and
                        content </p>
                </div>
                <div class="item-options text-center">
                    <div class="item-wrapper">
                        <div class="item-cost">
                            <h4 class="item-price">$69.99</h4>
                            <p class="card-text shipping ng-star-inserted"><span
                                    class="badge badge-pill badge-light-success">Free Shipping</span></p><!---->
                        </div>
                    </div><a href="javascript:void(0)" rippleeffect=""
                        class="btn btn-light btn-wishlist waves-effect waves-float waves-light ng-star-inserted"><svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-x">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg><span>Elminar</span></a><!----><!----><a href="javascript:void(0)" rippleeffect=""
                        class="btn btn-primary btn-cart waves-effect waves-float waves-light ng-star-inserted"><svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-shopping-cart mr-25">
                            <circle cx="9" cy="21" r="1"></circle>
                            <circle cx="20" cy="21" r="1"></circle>
                            <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                        </svg><span class="add-to-cart">Ver detalle</span></a><!----><!---->
                </div>
            </div><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
        </section>
    </div>
</div>