<div class="toast-container" [ngClass]="'custom-toast-' + data.type">
    <div class="toast-icon">
        <ng-container [ngSwitch]="data.type">
            <mat-icon *ngSwitchCase="'info'">info</mat-icon>
            <mat-icon *ngSwitchCase="'error'">cancel</mat-icon>
            <mat-icon *ngSwitchCase="'wait'">hourglass_empty</mat-icon> <mat-icon
                *ngSwitchCase="'warning'">warning_amber</mat-icon>
            <mat-icon *ngSwitchCase="'success'">check_circle_outline</mat-icon>
            <mat-icon *ngSwitchDefault>{{ data.icon || 'notifications' }}</mat-icon>
        </ng-container>
    </div>
    <div class="toast-content">
        <div class="toast-title">{{ data.title }}</div>
        <div class="toast-message">{{ data.message }}</div>
    </div>
    <button mat-icon-button class="toast-close-button" *ngIf="data.showCloseButton" matSnackBarAction>
        <mat-icon>close</mat-icon>
    </button>
</div>