<div class="content-wrapper">
    <div class="content-body">

        <section id="home-page">
            <section class="users-list-wrapper">
                <div class="card">

                    <div class="row mt-0 mb-0">
                        <div class="col-md-6 col-12">
                            <div class="d-flex justify-content-between align-items-center m-1">

                                <label class="d-flex align-items-center">Mostrar
                                    <select class="form-control mx-25 ng-untouched ng-pristine ng-valid"
                                        [(ngModel)]="pageSize" (change)="changePageSize($event.target.value)"
                                        style="margin-left: 10px !important;margin-right: 10px !important;width: 70px !important;">
                                        <option value="10"> 10 </option>
                                        <option value="25">25</option>
                                        <option value="50"> 50 </option>
                                        <option value="100">100</option>
                                    </select> registros</label>
                            </div>
                        </div>

                        <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">

                            <div class="d-flex align-items-center justify-content-end pr-0 pb-1 pb-md-0">
                                <label class="d-flex align-items-center ml-1 ml-md-0 mr-1">Buscar

                                    <input #input name="searchValue" (keydown)="onKeydown($event, input.value)"
                                        [(ngModel)]="searchText" name="search" type="search"
                                        class="form-control ml-25 ng-pristine ng-valid ng-touched"
                                        style="margin-left: 10px !important;">

                                </label>
                                <button *ngIf="!loading" (click)="search(input.value)" rippleeffect=""
                                    class="btn btn-primary waves-effect waves-float waves-light">
                                    <i data-feather='search'></i>
                                </button>

                                <button *ngIf="loading" data-v-aa799a9e="" type="button" disabled="disabled"
                                    class="btn btn-outline-primary disabled">
                                    <span data-v-aa799a9e="" aria-hidden="True"
                                        class="spinner-border spinner-border-sm">
                                        <!---->
                                    </span><span data-v-aa799a9e="" class="sr-only">Loading...</span>
                                </button>

                                <button (click)="add()" rippleeffect="" title="Agregar un nuevo actionPlan"
                                    class="btn btn-primary ml-1 waves-effect waves-float waves-light"
                                    style="float: right!important;margin-right: 0px;margin-top:0px;">
                                    <i data-feather='plus'></i>
                                </button>

                            </div>
                        </div>

                    </div>

                    <div class="table-responsive">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>TÍTULO</th>
                                    <th>RESPONSABLE</th>
                                    <th>FECHA DE INICIO</th>
                                    <th>FECHA DE VENCIMIENTO</th>
                                    <th>PRIORIDAD</th>
                                    <th class="text-right">ACCIÓN</th>
                                </tr>
                            </thead>

                            <tbody>


                                <ng-container *ngIf="loading">
                                    <tr>
                                        <td colspan="7">
                                            <div class="container text-center mt-5 mb-5">

                                                <div class="spinner-grow text-primary" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                                <div class="spinner-grow text-primary" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                                <div class="spinner-grow text-primary" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>

                                            </div>
                                        </td>

                                </ng-container>
                                <ng-container *ngIf="!loading">

                                    <ng-container *ngIf="actionPlans.length == 0">
                                        <tr>
                                            <td colspan="7">
                                                <div class="text-center mt-2 mb-2">
                                                    <div class="empty-row ng-star-inserted">No hay resultados para
                                                        mostrar</div>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>

                                    <tr *ngFor="let actionPlan of actionPlans; let i = index">
                                        <td>
                                            {{actionPlan.title}}
                                            <ng-container *ngIf="actionPlan.actionPlanStatus">
                                                <span class="badge"
                                                    [style.backgroundColor]="actionPlan.actionPlanStatus.color"
                                                    [style.color]="'#fff'">
                                                    {{ actionPlan.actionPlanStatus.name }}
                                                </span>
                                            </ng-container>
                                        </td>

                                        <td>
                                            <ng-container *ngIf="actionPlan.responsible">
                                                {{ actionPlan.responsible.name}}
                                            </ng-container>
                                        </td>
                                        <td>{{ actionPlan.startDate | date:'dd/MM/yyyy' }}</td>
                                        <td>{{ actionPlan.dueDate | date:'dd/MM/yyyy' }}</td>

                                        <td>
                                            <ng-container *ngIf="actionPlan.actionPlanPriority">
                                                <span class="badge"
                                                    [style.backgroundColor]="actionPlan.actionPlanPriority.color"
                                                    [style.color]="'#fff'">
                                                    {{ actionPlan.actionPlanPriority.name }}
                                                </span>
                                            </ng-container>
                                        </td>

                                        <td class="text-right">
                                            <div
                                                style="display: flex; flex-direction: row-reverse;margin-right: -10px;">

                                                <a *ngIf="!actionPlan.isDeleted" (click)="delete(actionPlan)"
                                                    container="body" placement="top" class="mr-1"
                                                    title="Eliminar a {{actionPlan.title}}">
                                                    <div class="icon-wrapper">
                                                        <i class="feather font-medium-4" data-feather='trash-2'></i>
                                                    </div>
                                                </a>
                                                <a container="body" placement="top" title="Abrir {{actionPlan.title}}"
                                                    (click)="edit(actionPlan.actionPlanId)" class="mr-1">
                                                    <div class="icon-wrapper">
                                                        <i class="feather font-medium-3 icon-edit-2"></i>
                                                    </div>
                                                </a>



                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>

                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <div *ngIf="actionPlans.length > 0" class="d-flex justify-content-center">
                                <ul class="pagination text-center">
                                    <li class="page-item ng-star-inserted">
                                        <button [disabled]="previous" (click)="changePage(-pageSize)" class="page-link">
                                            <div class="icon-wrapper">
                                                <i data-feather='chevron-left'></i>
                                            </div>
                                        </button>
                                    </li>
                                    <li class="page-item ng-star-inserted" aria-current="page">

                                        <label class="page-link" style="height:38px;">Pag. {{page}} de
                                            {{totalPages}}</label>
                                    </li>
                                    <li class="page-item ng-star-inserted">
                                        <button [disabled]="Next" (click)="changePage(+pageSize)" class="page-link">
                                            <div class="icon-wrapper">
                                                <i data-feather='chevron-right' style="background:gray;"></i>
                                            </div>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="d-flex justify-content-right"
                                style="float:right!important;margin-right: 15px;font-size: 13px; margin-top: 7px;">
                                {{results}}</label>
                        </div>
                    </div>
                </div>
            </section>
        </section>

    </div>
</div>