<div class="ecommerce-application ng-star-inserted" style="">
    <div class="content-wrapper container-xxl p-0">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div class="content-body">
            <section class="div">
                <div class="card">
                    <div class="card-body">
                        <div class="row my-2">
                            <div class="col-12 col-md-5 d-flex align-items-center justify-content-center mb-2 mb-md-0">
                                <div class="d-flex align-items-center justify-content-center">

                                    <div style="background-color: burlywood;  position: relative;
                                    width: 500px;
                                    height: 500px;
                                    background: red; background-image: url('assets/images/pages/eCommerce/50.jpeg');
                                    display: block;" width="500" height="500">

                                        <img alt="product image" class="img-fluid product-img" width="500" height="500"
                                            style="position: absolute;top: 0;left: 0;"
                                            src="assets/images/pages/eCommerce/50.jpeg">

                                        <img (click)="viewRepairs('assets/images/pages/eCommerce/fusor.jpg','Fusor')"
                                            height="30" width="30" title="Pieza número 1" style="position: relative;
width: 30px;
height: 30px;
top: 122px !important;
cursor: pointer !important;
left: 44px !important;" src="assets/images/pages/eCommerce/mira-2.png">

                                        <img (click)="viewRepairs('assets/images/pages/eCommerce/61sA-o64sPL._AC_UF894,1000_QL80_.jpg', 'Pantalla tactil')"
                                            height="30" width="30" title="Pieza número 1" style="position: relative;
                                        width: 30px;
                                        height: 30px;
                                        top: 324px !important;
                                        cursor: pointer !important;
                                        left: 377px !important;" src="assets/images/pages/eCommerce/mira-2.png">


                                        <img (click)="viewRepairs('assets/images/pages/eCommerce/soporte.jpeg', 'Soporte bobina')"
                                            height="30" width="30" title="Pieza número 1" style="position: relative;
width: 30px;
height: 30px;
top: 69px !important;
cursor: pointer !important;
left: 302px !important;" src="assets/images/pages/eCommerce/mira-2.png">


<img (click)="viewRepairs('assets/images/pages/eCommerce/fusor.jpg','Fusor')"
height="30" width="30" title="Pieza número 1" style="position: relative;
width: 30px;
height: 30px;
top: 203px !important;
cursor: pointer !important;
left: 272px !important;" src="assets/images/pages/eCommerce/mira-2.png">

                                    </div>

                               

                                    <!-- <img alt="product image" class="img-fluid product-img"
                                        src="assets/images/pages/eCommerce/50.jpeg"> -->

                                </div>
                            </div>
                            <div class="col-12 col-md-7">
                                <h3>Impresora 3D Guider II</h3><span class="card-text item-company">Marca <a
                                        href="javascript:void(0)" class="company-name">HP</a></span>

                                <p class="card-text">Disponible - <span class="text-success">En stock</span></p>
                                <p class="card-text"> K1 – Rey de la velocidad
                                    La K1, con su asombrosa velocidad, despertará el entusiasmo de la gente por la
                                    impresión 3D. Su gran velocidad reduce el tiempo de impresión y aumenta la
                                    eficiencia, ya que utiliza menos energía para obtener el mismo resultado, por lo que
                                    es más respetuosa con el medio ambiente. Y lo que es más importante, se centra en el
                                    puro placer de crear.

                                </p>

                                <div class="fb-product-information-tab__copy">


                                    <h4><b>Ficha del producto:</b></h4>
                                    <li>Modelo: Guider II</li>
                                    <li>Tipo de impresión: 3D</li>
                                    <li>Conexión Bluetooth: No</li>
                                    <li>Entradas USB: 1</li>
                                    <li>Ancho: 60</li>
                                    <li>Conexión WiFi: Sí</li>
                                    <li>Alto: 54</li>
                                    <li>Impresora 3D con boquilla única para uso con filamento ABS / PLA / PVA.
                                        Tamaño de construcción muy grande.
                                        Panel de pantalla táctil de 3</li>
                                    <li>5 pulgadas.
                                        Función de previsualización de impresión (formato gx).
                                        Paquete de 16 idiomas para la operación multilingüe.
                                        Fuerte plataforma de impresión de aleación no deformable de 6.5 mm (calentada).
                                        Diseño completamente cerrado con control automático de temperatura.
                                        Conectividad: LAN</li>
                                    <li> unidad flash USB</li>
                                    <li> cable USB.
                                        Garantía: 1 año por falla de fábrica.</li>
                                    <li>Marca: Flashforge</li>
                                    <li>Peso: 20 Kg</li>
                                    <li>Tipo de inyección: 3D</li>
                                    <li>Tipo: Impresoras 3D</li>
                                    <li>Profundidad: 55</li>
                                    <li>Hecho en: China</li>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>