
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  vertical-align: middle;
}

.dot-green {
  background-color: #4caf50;
}

.link {
  color: #64b5f6;
  text-decoration: underline;
}

.icon.success {
  color: #4caf50; // verde
}

.icon.error {
  color: #f44336; // rojo
}

.icon.warning {
  color: #ffca28;
  /* Material Amber 400 */
  font-size: 16px;
}

.success {
  color: green;
  /* O el color verde que uses */
}

.error {
  color: red;
  /* O el color rojo que uses */
}

.warning {
  color: orange;
  /* O el color naranja que uses */
}

.bold {
  font-weight: bold;
}

.estado {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 4px 0;
}

.estado mat-icon {
  font-size: 20px;
  margin-right: 6px;
}

.estado.validado mat-icon {
  color: #4caf50;
  /* Verde */
}

.estado.revision mat-icon {
  color: #2196f3;
  /* Azul */
}

.estado.rechazado mat-icon {
  color: #f44336;
  /* Rojo */
}

.gap-item {
  font-family: 'Montserrat', Helvetica, Arial, serif !important;
  background: #f9f9f9;
  border-radius: 6px;
  padding: 12px 16px;
  margin-bottom: 5px;
}

/* ✅ Cumplido - Verde */
.gap-item.cumplido {
  border-left: 4px solid #4caf50;
  background-color: #e8f5e9;
}

/* ⏳ Pendiente - Amarillo */
.gap-item.pendiente {
  border-left: 4px solid #ff9800;
  background-color: #fff8e1;
}

/* ❌ Rechazado - Rojo */
.gap-item.rechazado {
  border-left: 4px solid #f44336;
  background-color: #ffeaea;
}

.gap-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 500;
  color: #333;
  margin-bottom: 6px;
}

.icon {
  vertical-align: middle;
  margin-right: 4px;
}

.estado-text {
  color: #f44336;
  font-weight: bold;
  margin-right: 10px;
}

.estado-validacion .icon.validado {
  color: #4caf50;
}

.estado-revision .icon.revision {
  color: #2196f3;
}

.texto-validado {
  color: #4caf50;
  font-weight: 500;
  margin-left: 2px;
}

.texto-revision {
  color: #2196f3;
  font-weight: 500;
  margin-left: 2px;
}

.nivel,
.evidencia,
.estado-validacion,
.estado-revision {
  margin-right: 10px;
}

.gap-descripcion {
  margin: 8px 0;
  color: #444;
  white-space: nowrap;
  /* Evita que el texto se divida en varias líneas */
  overflow: hidden;
  /* Oculta el texto que desborda el contenedor */
  text-overflow: ellipsis;
  /* Muestra los tres puntos (...) cuando el texto se corta */
  width: 100%;
}

.gap-evidencias {
  display: flex;
  align-items: center;
  color: #555;
}

.gap-evidencias mat-icon {
  margin-right: 4px;
}

.link-ver {
  color: #007bff;
  font-weight: 500;
  text-decoration: none;
  margin: 0 6px;
}

.icon.verde {
  color: #4caf50;
}

.evidencia-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.estado-icono {
  font-size: 14px;
  margin-left: 6px;
}




.no-cumplido {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 4px; /* espacio entre el ícono y el texto */

  font-weight: 500;
}


.status-badge {
   display: inline-block; 
  border: 2px solid;
  //color: red;
  border-radius: 10px;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  font-weight: bold;
  background-color: transparent;
  font-size: 13px;
  width: auto;
  white-space: nowrap;
}