<ng-container *ngIf="loading">


  <div mat-dialog-title class="d-flex align-items-center" style="margin-top:-5px;">
    <h4>...</h4>
    <div class="template-demo d-flex justify-content-between flex-nowrap ml-auto"
      style="margin-top:-10px; margin-right:-16px;">

      <button type="button" rippleeffect="" class="btn btn-flat-dark waves-effect" (click)="close()">
        <div class="icon-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-x">
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </div>
      </button>

    </div>
  </div>

  <div class="container text-center mt-5">

    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>

  </div>

</ng-container>

<ng-container *ngIf="!loading">


  <div mat-dialog-title class="d-flex align-items-center" style="margin-top:-5px;">
    <h4 *ngIf="usageClassification.name">{{usageClassification.name.toUpperCase()}}</h4>
    <div class="template-demo d-flex justify-content-between flex-nowrap ml-auto"
      style="margin-top:-10px; margin-right:-16px;">

      <button type="button" rippleeffect="" class="btn btn-flat-dark waves-effect" (click)="close()">
        <div class="icon-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-x">
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </div>
      </button>

    </div>
  </div>

  <div class="card border" style="margin-top: -15px !important;">
    <div class="card-body">
      <small class="form-text text-muted mb-2 text-center" style="margin-top: -10px;">Los campos con(*)
        son obligatorios</small>
      <form [formGroup]="form" (ngSubmit)="save()" class="auth-login-form mt-0" autocomplete="off">
        <div class="form-group">

          <div style="display:flex; margin-bottom:-10px;">
            <label class="form-label">Nombre</label>
            <label style="margin-left: 5px;">(</label>
            <label style="font-size: 22px; margin-top:-1px;">*</label>
            <label>)</label>
          </div>
          <input type="text" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            maxlength="100" class="form-control" aria-describedby="" autofocus="" tabindex="1">
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required"> El nombre es obligatorio</div>
            <div *ngIf="f.name.errors.maxlength">El nombre no puede tener mas de 100 caracteres </div>
          </div>
        </div>


        <div class="col-md-12 text-center mt-3">
          <button *ngIf="!loading2" type="submit" rippleeffect="" class="btn btn-primary mr-1 waves-effect"
            style="width:180px;height: 40px;">GUARDAR</button>
          <button *ngIf="loading2" type="button" disabled="" rippleeffect=""
            class="btn btn-outline-primary waves-effect mr-1" style="width:180px;height: 40px;">
            <span role="status" aria-hidden="true" class="spinner-border spinner-border-sm"></span>
            <span class="ml-25 align-middle">Guardando...</span>
          </button>
          <button type="reset" rippleeffect="" class="btn btn-outline-secondary waves-effect"
            (click)="close()">CANCELAR</button>
        </div>


      </form>
    </div>
  </div>

</ng-container>