<div Class="content-wrapper">
    <div Class="content-body">

        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <section class="app-user-edit">

            <section >
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-body">

                                <div class="row">
                                    <div class="d-flex justify-content-between flex-column col-xl-12 col-21">
                                        <div class="d-flex justify-content-start">

                                            <a container="body" placement="top" title="Ir al listado"
                                                (click)="navigateToBack()" class="mr-1"
                                                style="margin-top:-13px;font-size: 50px;">
                                                <div class="icon-wrapper">
                                                    <i class="feather font-medium-5 icon-arrow-left"></i>
                                                </div>
                                            </a>

                                            <div *ngIf="documentation.name != ''" class="d-flex flex-column ml-1">
                                                <div style="margin-top: 15px;">
                                                    <h1 style="margin-bottom: 5px;">
                                                        {{title}} </h1>
                                                  


                                                </div>

                                            </div>
                                        </div>
                                        <!-- <div class="d-flex align-items-center mt-1">

                                        </div> -->
                                    </div>

                                </div>
                            </div>
                            <!---->
                            <!---->
                        </div>
                    </div>

                </div>
            </section>

            <div class="card">
                <div class="card-body">

                    <ul ngbNav #nav="ngbNav" style="margin-top: -10px !important;" class="nav nav-pills">
                        <li ngbNavItem [ngbNavItem]="1">

                            <a ngbNavLink class="d-flex align-items-center"><i data-feather="grid" class="mr-sm-50"></i>
                                <span class="d-none d-sm-block ">DATOS DEL DOCUMENTO</span>

                            </a>
                            <ng-template ngbNavContent>
                                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">


                                    <div class="card border" style="margin-top: -10px !important;">
                                        <div class="card-body">

                                            <small class="form-text text-muted mb-2 text-center"
                                                style="margin-top: -10px;">Los campos con(*)
                                                son obligatorios</small>

                                                <form [formGroup]="form" (ngSubmit)="save()" class="auth-login-form mt-0" autocomplete="off">
                                                    <div class="form-group">
                                    
                                                        <div style="display:flex; margin-bottom:-10px;">
                                                            <label class="form-label">Nombre</label>
                                                            <label style="margin-left: 5px;">(</label>
                                                            <label style="font-size: 22px; margin-top:-1px;">*</label>
                                                            <label>)</label>
                                                        </div>
                                
                                                        <input type="text" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                                                            maxlength="100" class="form-control" aria-describedby="" autofocus="" tabindex="1">
                                                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                                            <div *ngIf="f.name.errors.required"> El name es obligatorio</div>
                                                            <div *ngIf="f.name.errors.maxlength">El name no puede tener mas de 100 caracteres </div>
                                                        </div>
                                                    </div>
                                    
                                                    <div class="form-group">
                                    
                                                        <div style="display:flex; margin-bottom:2px;">
                                                            <label class="form-label">Tipo de documento</label>
                                                        </div>
                                
                                                        <div style="display: flex;">
                                
                                                            <select formControlName="documentType"
                                                                [ngClass]="{ 'is-invalid': submitted && f.documentType.errors }" class="form-control">
                                                                <option value=""> Seleccione </option>
                                                                <option *ngFor="let documentType of documentTypes" [value]="documentType.documentTypeId">{{
                                                                    documentType.name}} </option>
                                                            </select>
                                    
                                                            <button *ngIf="!loading" type="button" title="Agregar un nuevo tipo de documento"
                                                                (click)="addDocumentationType()" rippleeffect=""
                                                                class="btn btn-danger waves-effect waves-float waves-light" style="margin-left: 5px;">
                                                                <i data-feather='plus'></i>
                                    
                                                            </button>
                                    
                                                        </div>
                                                        
                                                    </div>
                                    
                                                    <div class="form-group">
                                    
                                                        <div style="display:flex; margin-bottom:2px;">
                                                            <label class="form-label">Descripción</label>
                                                        </div>
                                                        <textarea rows="3" formControlName="description"
                                                            [ngClass]="{ 'is-invalid': submitted && f.description.errors }" maxlength="500"
                                                            class="form-control" aria-describedby="" autofocus="" tabindex="1"></textarea>
                                                    </div>
                                    
                                                    <!-- <div class="form-group">
                                    
                                                        <div style="display:flex; margin-bottom:2px;">
                                                            <label class="form-label">Familia</label>
                                                        </div>
                                    
                                                        <select formControlName="requirement"
                                                            [ngClass]="{ 'is-invalid': submitted && f.requirement.errors }" class="form-control">
                                                            <option value=0> Seleccione </option>
                                                            <option *ngFor="let requirement of requirements" [value]="requirement.requirementId">{{
                                                                requirement.numerationToShow}}. {{ requirement.name}} </option>
                                                        </select>
                                    
                                                    </div> -->
                                    
                                    
                                                    <div class="col-md-12 text-center mt-3">
                                                        <button *ngIf="!loading2" type="submit" rippleeffect="" class="btn btn-primary mr-1 waves-effect"
                                                            style="width:180px;height: 40px;">GUARDAR</button>
                                                        <button *ngIf="loading2" type="button" disabled="" rippleeffect=""
                                                            class="btn btn-outline-primary waves-effect mr-1" style="width:180px;height: 40px;">
                                                            <span role="status" aria-hidden="true" class="spinner-border spinner-border-sm"></span>
                                                            <span class="ml-25 align-middle">Guardando...</span>
                                                        </button>
                                                        <button type="reset" rippleeffect="" class="btn btn-outline-secondary waves-effect"
                                                            (click)="close()">CANCELAR</button>
                                                    </div>
                                    
                                    
                                                </form>
                                                
                                        </div>
                                    </div>

                                </div>
                            </ng-template>
                        </li>

                        <li ngbNavItem [ngbNavItem]="3">

                            <a ngbNavLink class="d-flex align-items-center">
                                <!-- <i data-feather="list" class="mr-sm-50"></i> -->
                                <i data-feather='list' class="mr-sm-50"></i>
                                <span class="d-none d-sm-block"> VERSIONES
                                </span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="tab-pane" id="account2" aria-labelledby="account-tab" role="tabpanel">

                                    <div class="card border" style="margin-top: -10px !important;">
                                        <div class="card-body">
                                            <app-version [standardId]="standardId" [documentationId]="id" [name]="title"></app-version>
                                        </div>
                                    </div>

                                </div>
                            </ng-template>
                        </li>

                    </ul>
                    <div [ngbNavOutlet]="nav" class="mt-2"></div>


                </div>
            </div>



        </section>

    </div>
</div>