<ng-container *ngIf="loading">


  <div mat-dialog-title class="d-flex align-items-center" style="margin-top:-5px;">
    <h4>...</h4>
    <div class="template-demo d-flex justify-content-between flex-nowrap ml-auto"
      style="margin-top:-10px; margin-right:-16px;">

      <button type="button" rippleeffect="" class="btn btn-flat-dark waves-effect" (click)="close()">
        <div class="icon-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-x">
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </div>
      </button>

    </div>
  </div>

  <div class="container text-center mt-5">

    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>

  </div>

</ng-container>

<ng-container *ngIf="!loading">


  <div mat-dialog-title class="d-flex align-items-center" style="margin-top:-5px;">
    <h4>NUEVO RISKLEVEL</h4>
    <div class="template-demo d-flex justify-content-between flex-nowrap ml-auto" style="margin-right: -16px;">

      <button type="button" rippleeffect="" class="btn btn-flat-dark waves-effect" (click)="close()">
        <div class="icon-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-x">
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </div>
      </button>

    </div>
  </div>

  <div class="card border" style="margin-top: -15px !important;">
    <div class="card-body">
      <small class="form-text text-muted mb-2 text-center" style="margin-top: -10px;">Los campos con(*)
        son obligatorios</small>
        <form [formGroup]="form" (ngSubmit)="save()" class="auth-login-form mt-0" autocomplete="off">

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
  
                <div style="display:flex; margin-bottom:-10px;">
                  <label class="form-label">Nombre</label>
                  <label style="margin-left: 5px;">(</label>
                  <label style="font-size: 22px; margin-top:-1px;">*</label>
                  <label>)</label>
                </div>
                <input type="text" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                  maxlength="100" class="form-control" aria-describedby="" autofocus="" tabindex="1">
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required"> El nombre es obligatorio</div>
                  <div *ngIf="f.name.errors.maxlength">El nombre no puede tener mas de 100 caracteres </div>
                </div>
              </div>
            </div>
           
          </div>
  
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
  
                <div style="display:flex; margin-bottom:-10px;">
                  <label class="form-label">Color</label>
                  <label style="margin-left: 5px;">(</label>
                  <label style="font-size: 22px; margin-top:-1px;">*</label>
                  <label>)</label>
                  <div style="width: 100px; height: 20px; margin-left: 10px;"
                    [style.background-color]="riskLevel.color">
                  </div>
                </div>
                <input type="text" formControlName="color" [ngClass]="{ 'is-invalid': submitted && f.color.errors }"
                  maxlength="100" class="form-control" aria-describedby="" autofocus="" tabindex="1">
                <div *ngIf="submitted && f.color.errors" class="invalid-feedback">
                  <div *ngIf="f.color.errors.required"> El color es obligatorio</div>
                  <div *ngIf="f.color.errors.maxlength">El color no puede tener mas de 100 caracteres </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
  
                <div style="display:flex; margin-bottom:-10px;">
                  <label class="form-label">Abreviatura</label>
                  <label style="margin-left: 5px;">(</label>
                  <label style="font-size: 22px; margin-top:-1px;">*</label>
                  <label>)</label>
                </div>
                <input type="text" formControlName="abbreviation"
                  [ngClass]="{ 'is-invalid': submitted && f.abbreviation.errors }" maxlength="10" class="form-control"
                  aria-describedby="" autofocus="" tabindex="1">
                <div *ngIf="submitted && f.abbreviation.errors" class="invalid-feedback">
                  <div *ngIf="f.abbreviation.errors.required"> La abreviatura es obligatorio</div>
                  <div *ngIf="f.abbreviation.errors.maxlength">La abreviatura no puede tener mas de 10 caracteres </div>
                </div>
              </div>
            </div>
          </div>
  
  
          <div class="row">
  
            <div class="col-md-4">
  
              <div class="form-group">
  
                <div style="display:flex; margin-bottom:-10px;">
                  <label class="form-label">Mínimo</label>
                  <label style="margin-left: 5px;">(</label>
                  <label style="font-size: 22px; margin-top:-1px;">*</label>
                  <label>)</label>
                </div>
                <input type="number" formControlName="minimum" [ngClass]="{ 'is-invalid': submitted && f.minimum.errors }"
                  maxlength="5" class="form-control" aria-describedby="" autofocus="" tabindex="1">
                <div *ngIf="submitted && f.minimum.errors" class="invalid-feedback">
                  <div *ngIf="f.minimum.errors.required"> El mínimo es obligatorio</div>
                  <div *ngIf="f.minimum.errors.maxlength">El mínimo no puede tener mas de 5 caracteres </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
  
                <div style="display:flex; margin-bottom:2px;">
                  <label class="form-label">Máximo</label>
                </div>
                <input type="number" formControlName="maximum" [ngClass]="{ 'is-invalid': submitted && f.maximum.errors }"
                  maxlength="5" class="form-control" aria-describedby="" autofocus="" tabindex="1">
              </div>
            </div>
  
              <div class="col-md-4">
                <div class="form-group">
                  <div style="display:flex; margin-bottom:2px;">
                    <label class="form-label">Factor</label>
                  </div>
                  <input type="number" formControlName="factor" [ngClass]="{ 'is-invalid': submitted && f.factor.errors }"
                    maxlength="5" class="form-control" aria-describedby="" autofocus="" tabindex="1">
                </div>
              </div>
        
  
  
          </div>
  
  
  
  
          <div class="form-group">
  
            <div style="display:flex; margin-bottom:0px;">
              <label class="form-label">Descripción</label>
           
            </div>
            <textarea rows="2" formControlName="description"
              [ngClass]="{ 'is-invalid': submitted && f.description.errors }" maxlength="500" class="form-control"
              aria-describedby="" autofocus="" tabindex="1"></textarea>
         
          </div>
  
  
          <div class="col-md-12 text-center mt-3">
            <button *ngIf="!loading2" type="submit" rippleeffect="" class="btn btn-primary mr-1 waves-effect"
              style="width:180px;height: 40px;">GUARDAR</button>
            <button *ngIf="loading2" type="button" disabled="" rippleeffect=""
              class="btn btn-outline-primary waves-effect mr-1" style="width:180px;height: 40px;">
              <span role="status" aria-hidden="true" class="spinner-border spinner-border-sm"></span>
              <span class="ml-25 align-middle">Guardando...</span>
            </button>
            <button type="reset" rippleeffect="" class="btn btn-outline-secondary waves-effect"
              (click)="close()">CANCELAR</button>
          </div>
  
  
        </form>
    </div>
  </div>

</ng-container>