

.status-badge {
   display: inline-block; 
  border: 0px solid;
  //color: red;
  //border-radius: 10px;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  font-weight: bold;
  background-color: transparent;
  font-size: 13px;
  width: auto;
  white-space: nowrap;
}