.file-drop-zone {
    border: 2px dashed #7367f0;
    
    background-color: rgba(115,103,240,.05)!important;
    min-height: 200px;
    color: #7367f0;
}

::ng-deep.mat-menu-panel {
    max-width:fit-content !important;
  }