

    <!-- <div class="row">
      <div class="col-md-12">

        <div class="text-center">
          
          <button *ngIf="!loadingExcel" type="button" (click)="downloadExcel()" rippleeffect=""
            class="btn btn-success mr-1 waves-effect" style="width:220px;height: 40px; margin-left: 10px;">DESCARGAR
            EXCEL
          </button>

          <button *ngIf="loadingExcel" type="button" disabled="" rippleeffect=""
            class="btn btn-outline-primary waves-effect mr-1" style="width:220px;height: 40px; margin-left: 10px;">
            <span role="status" aria-hidden="true" class="spinner-border spinner-border-sm"></span>
            <span class="ml-25 align-middle">Descargando...</span>
          </button>

        </div>

      </div>
    </div> -->


    <div class="row">
      <!-- <div class="col-md-12 p-1" style="border-radius: 5px;">
        <h2 class="text-center" style="text-decoration: underline;margin-top: -10px !important;">RESUMEN RESULTADOS DEL
          ESTADO DE LOS REQUERIMIENTOS DE LA {{standardName}}
        </h2>
        <br>
      </div> -->
      <div class="col-md-6">

        <div class="card border">
          <div class="card-body">
            <app-indicators [single]="pieDashboardRequirementDto" *ngIf="colorScheme"
              [colorScheme]="colorScheme"></app-indicators>
          </div>
        </div>


      </div>

      <div class="col-md-6">

        <div class="card border">
          <div class="card-body">
            <app-indicators2 [multi]="bartVerticalDashboardRequirementDto" *ngIf="colorScheme"
              [colorScheme]="colorScheme"></app-indicators2>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <!-- <div class="col-md-2">

      </div> -->
      <div class="col-md-12">
        <div class="table-responsive">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="color: white; background-color: black;"> REQUERIMIENTOS</th>
                <th *ngFor="let maturityLevel of maturityLevels; let i = index" class="td-header-number-2 text-center"
                  [style.background-color]="maturityLevel.color">

                  <h4 style="color: white;"> {{maturityLevel.abbreviation}}
                  </h4>
                  <span style="color: black;font-size: 8px;"> {{maturityLevel.name}}</span>

                </th>
                <th class="text-center" style="color: white; background-color: black;"> Calificación</th>
              </tr>
            </thead>

            <tbody>


              <ng-container>

                <tr *ngFor="let requirement of requirements;">

                  <td><span style="font-weight: 600;">Claúsula {{requirement.numeration}}</span> - {{requirement.name}}
                  </td>

                  <td *ngFor="let item of requirement.maturityLevels;" class="td-humber-2 text-center">
                    <span>{{item.value}}</span>
                  </td>

                  <td class="text-center">

                    <ng-container *ngIf="requirement.indicator">
                      <span style="font-weight: 700;" [style.color]="requirement.indicator.color">
                        {{requirement.indicator.name}}
                      </span>
                    </ng-container>

                  </td>
                </tr>

                <tr>
                  <th>TOTAL</th>
                  <th *ngFor="let maturityLevel of maturityLevels; let i = index"
                    class="td-header-number-2 text-center">
                    <span>{{maturityLevel.value}}</span>
                  </th>
                  <th class="td-header-number-2 text-center" style="font-size: 14px;"> <span>{{total}}</span></th>
                </tr>


              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="col-md-2">

      </div> -->
    </div>


