<ng-container *ngIf="loading">


    <div mat-dialog-title class="d-flex align-items-center" style="margin-top:-5px;">
        <h4>...</h4>
        <div class="template-demo d-flex justify-content-between flex-nowrap ml-auto"
            style="margin-top:-10px; margin-right:-16px;">

            <button type="button" rippleeffect="" class="btn btn-flat-dark waves-effect" (click)="close()">
                <div class="icon-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </div>
            </button>

        </div>
    </div>

    <div class="container text-center mt-5">

        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>

    </div>

</ng-container>

<ng-container *ngIf="!loading">


    <div mat-dialog-title class="d-flex align-items-center" style="margin-top:-5px;">
        <h4>CONFIRMACIÓN</h4>
        <div class="template-demo d-flex justify-content-between flex-nowrap ml-auto" style="margin-right: -16px;">

            <button type="button" rippleeffect="" class="btn btn-flat-dark waves-effect" (click)="close()">
                <div class="icon-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </div>
            </button>

        </div>
    </div>


    <div *ngIf="selectedRisk" class="card border" style="margin-top: -15px !important;">
        <div class="card-body">

            <div class=" d-flex align-items-center justify-content-between">
                <div>

                    <h4 style="margin-bottom: 10px;">¿Confirma que desea escalar el riesgo?</h4>

                    <h5>
                        <strong>Riesgo:</strong> {{ selectedRisk?.name || 'Sin nombre asignado' }}<br>
                        <strong>Activo afectado:</strong> {{ selectedRisk?.activesInventoryName || 'No especificado' }}
                    </h5>

                    <h6 class="text-muted" style="margin-top: 10px;">
                        Al escalar este riesgo, dejará de mostrarse en seguimiento y se considerará finalizado su
                        tratamiento
                        conforme al nivel residual alcanzado.
                    </h6>
                </div>

            </div>

            <div class="col-md-12 text-center mt-1">
                <button *ngIf="!loading2" (click)="save()" type="button" rippleeffect=""
                    class="btn btn-primary mr-1 waves-effect" style="width:180px;height: 40px;"
                    tabindex="1">GUARDAR</button>
                <button *ngIf="loading2" type="button" disabled="" rippleeffect=""
                    class="btn btn-outline-primary waves-effect mr-1" style="width:180px;height: 40px;">
                    <span role="status" aria-hidden="true" class="spinner-border spinner-border-sm"></span>
                    <span class="ml-25 align-middle">Guardando...</span>
                </button>
                <button type="reset" rippleeffect="" class="btn btn-outline-secondary waves-effect"
                    (click)="close()">CANCELAR</button>
            </div>

        </div>
    </div>


</ng-container>