<ng-container *ngIf="loading">


   <div mat-dialog-title class="d-flex align-items-center" style="margin-top:-5px;">
      <h4>...</h4>
      <div class="template-demo d-flex justify-content-between flex-nowrap ml-auto"
         style="margin-top:-10px; margin-right:-16px;">

         <button type="button" rippleeffect="" class="btn btn-flat-dark waves-effect" (click)="close()">
            <div class="icon-wrapper">
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-x">
                  <line x1="18" y1="6" x2="6" y2="18"></line>
                  <line x1="6" y1="6" x2="18" y2="18"></line>
               </svg>
            </div>
         </button>

      </div>
   </div>

   <div class="container text-center mt-5">

      <div class="spinner-grow text-primary" role="status">
         <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-primary" role="status">
         <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-primary" role="status">
         <span class="sr-only">Loading...</span>
      </div>

   </div>

</ng-container>

<ng-container *ngIf="!loading">


   <div mat-dialog-title class="d-flex align-items-center" style="margin-top:-5px;">
      <h4>NUEVO RISK</h4>
      <div class="template-demo d-flex justify-content-between flex-nowrap ml-auto" style="margin-right: -16px;">

         <button type="button" rippleeffect="" class="btn btn-flat-dark waves-effect" (click)="close()">
            <div class="icon-wrapper">
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-x">
                  <line x1="18" y1="6" x2="6" y2="18"></line>
                  <line x1="6" y1="6" x2="18" y2="18"></line>
               </svg>
            </div>
         </button>

      </div>
   </div>

   <div class="card border" style="margin-top: -15px !important;">
      <div class="card-body">
         <small class="form-text text-muted mb-2 text-center" style="margin-top: -10px;">Los campos con(*)
            son obligatorios</small>
         <form [formGroup]="form" (ngSubmit)="save()" class="auth-login-form mt-0" autocomplete="off">
            <div class="form-group">

               <div style="display:flex; margin-bottom:-10px;">
                  <label class="form-label">activesInventoryId</label>
                  <label style="margin-left: 5px;">(</label>
                  <label style="font-size: 22px; margin-top:-1px;">*</label>
                  <label>)</label>
               </div>
               <select formControlName="activesInventory"
                  [ngClass]="{ 'is-invalid': submitted && f.activesInventory.errors }" class="form-control">
                  <option value=""> Seleccione </option>
                  <option *ngFor="let activesInventory of activesInventories"
                     [value]="activesInventory.activesInventoryId"></option>
               </select>
               <div *ngIf="submitted && f.activesInventory.errors" class="invalid-feedback">
                  <div *ngIf="f.activesInventory.errors.required"> El activesInventoryId es obligatorio</div>
               </div>
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:2px;">
                  <label class="form-label">activesInventoryNumber</label>
               </div>
               <input type="text" formControlName="activesInventoryNumber"
                  [ngClass]="{ 'is-invalid': submitted && f.activesInventoryNumber.errors }" maxlength="20"
                  class="form-control" aria-describedby="" autofocus="" tabindex="1">
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:2px;">
                  <label class="form-label">macroProcess</label>
               </div>
               <input type="text" formControlName="macroProcess"
                  [ngClass]="{ 'is-invalid': submitted && f.macroProcess.errors }" maxlength="100" class="form-control"
                  aria-describedby="" autofocus="" tabindex="1">
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:2px;">
                  <label class="form-label">subProcess</label>
               </div>
               <input type="text" formControlName="subProcess"
                  [ngClass]="{ 'is-invalid': submitted && f.subProcess.errors }" maxlength="100" class="form-control"
                  aria-describedby="" autofocus="" tabindex="1">
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:2px;">
                  <label class="form-label">activesInventoryName</label>
               </div>
               <textarea rows="3" formControlName="activesInventoryName"
                  [ngClass]="{ 'is-invalid': submitted && f.activesInventoryName.errors }" maxlength="250"
                  class="form-control" aria-describedby="" autofocus="" tabindex="1"></textarea>
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:2px;">
                  <label class="form-label">activesInventoryValuation</label>
               </div>
               <input type="number" formControlName="activesInventoryValuation"
                  [ngClass]="{ 'is-invalid': submitted && f.activesInventoryValuation.errors }" maxlength="5"
                  class="form-control" aria-describedby="" autofocus="" tabindex="1">
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:-10px;">
                  <label class="form-label">menaceId</label>
                  <label style="margin-left: 5px;">(</label>
                  <label style="font-size: 22px; margin-top:-1px;">*</label>
                  <label>)</label>
               </div>
               <select formControlName="menace" [ngClass]="{ 'is-invalid': submitted && f.menace.errors }"
                  class="form-control">
                  <option value=""> Seleccione </option>
                  <option *ngFor="let menace of menaces" [value]="menace.menaceId">{{ menace.name}} </option>
               </select>
               <div *ngIf="submitted && f.menace.errors" class="invalid-feedback">
                  <div *ngIf="f.menace.errors.required"> El menaceId es obligatorio</div>
               </div>
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:-10px;">
                  <label class="form-label">vulnerabilityId</label>
                  <label style="margin-left: 5px;">(</label>
                  <label style="font-size: 22px; margin-top:-1px;">*</label>
                  <label>)</label>
               </div>
               <select formControlName="vulnerability" [ngClass]="{ 'is-invalid': submitted && f.vulnerability.errors }"
                  class="form-control">
                  <option value=""> Seleccione </option>
                  <option *ngFor="let vulnerability of vulnerabilities" [value]="vulnerability.vulnerabilityId">{{
                     vulnerability.name}} </option>
               </select>
               <div *ngIf="submitted && f.vulnerability.errors" class="invalid-feedback">
                  <div *ngIf="f.vulnerability.errors.required"> El vulnerabilityId es obligatorio</div>
               </div>
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:-10px;">
                  <label class="form-label">menaceLevel</label>
                  <label style="margin-left: 5px;">(</label>
                  <label style="font-size: 22px; margin-top:-1px;">*</label>
                  <label>)</label>
               </div>
               <input type="number" formControlName="menaceLevel"
                  [ngClass]="{ 'is-invalid': submitted && f.menaceLevel.errors }" maxlength="5" class="form-control"
                  aria-describedby="" autofocus="" tabindex="1">
               <div *ngIf="submitted && f.menaceLevel.errors" class="invalid-feedback">
                  <div *ngIf="f.menaceLevel.errors.required"> El menaceLevel es obligatorio</div>
                  <div *ngIf="f.menaceLevel.errors.maxlength">El menaceLevel no puede tener mas de 5 caracteres </div>
               </div>
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:-10px;">
                  <label class="form-label">vulnerabilityLevel</label>
                  <label style="margin-left: 5px;">(</label>
                  <label style="font-size: 22px; margin-top:-1px;">*</label>
                  <label>)</label>
               </div>
               <input type="number" formControlName="vulnerabilityLevel"
                  [ngClass]="{ 'is-invalid': submitted && f.vulnerabilityLevel.errors }" maxlength="5"
                  class="form-control" aria-describedby="" autofocus="" tabindex="1">
               <div *ngIf="submitted && f.vulnerabilityLevel.errors" class="invalid-feedback">
                  <div *ngIf="f.vulnerabilityLevel.errors.required"> El vulnerabilityLevel es obligatorio</div>
                  <div *ngIf="f.vulnerabilityLevel.errors.maxlength">El vulnerabilityLevel no puede tener mas de 5
                     caracteres </div>
               </div>
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:-10px;">
                  <label class="form-label">controlId</label>
                  <label style="margin-left: 5px;">(</label>
                  <label style="font-size: 22px; margin-top:-1px;">*</label>
                  <label>)</label>
               </div>
               <select formControlName="control" [ngClass]="{ 'is-invalid': submitted && f.control.errors }"
                  class="form-control">
                  <option value=""> Seleccione </option>
                  <option *ngFor="let control of controls" [value]="control.controlId">{{ control.name}} </option>
               </select>
               <div *ngIf="submitted && f.control.errors" class="invalid-feedback">
                  <div *ngIf="f.control.errors.required"> El controlId es obligatorio</div>
               </div>
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:-10px;">
                  <label class="form-label">riskAssessmentValue</label>
                  <label style="margin-left: 5px;">(</label>
                  <label style="font-size: 22px; margin-top:-1px;">*</label>
                  <label>)</label>
               </div>
               <input type="number" formControlName="riskAssessmentValue"
                  [ngClass]="{ 'is-invalid': submitted && f.riskAssessmentValue.errors }" maxlength="5"
                  class="form-control" aria-describedby="" autofocus="" tabindex="1">
               <div *ngIf="submitted && f.riskAssessmentValue.errors" class="invalid-feedback">
                  <div *ngIf="f.riskAssessmentValue.errors.required"> El riskAssessmentValue es obligatorio</div>
                  <div *ngIf="f.riskAssessmentValue.errors.maxlength">El riskAssessmentValue no puede tener mas de 5
                     caracteres </div>
               </div>
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:-10px;">
                  <label class="form-label">riskLevelId</label>
                  <label style="margin-left: 5px;">(</label>
                  <label style="font-size: 22px; margin-top:-1px;">*</label>
                  <label>)</label>
               </div>
               <select formControlName="riskLevel" [ngClass]="{ 'is-invalid': submitted && f.riskLevel.errors }"
                  class="form-control">
                  <option value=""> Seleccione </option>
                  <option *ngFor="let riskLevel of riskLevels" [value]="riskLevel.riskLevelId">{{ riskLevel.name}}
                  </option>
               </select>
               <div *ngIf="submitted && f.riskLevel.errors" class="invalid-feedback">
                  <div *ngIf="f.riskLevel.errors.required"> El riskLevelId es obligatorio</div>
               </div>
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:-10px;">
                  <label class="form-label">treatmentMethod</label>
                  <label style="margin-left: 5px;">(</label>
                  <label style="font-size: 22px; margin-top:-1px;">*</label>
                  <label>)</label>
               </div>
               <textarea rows="3" formControlName="treatmentMethod"
                  [ngClass]="{ 'is-invalid': submitted && f.treatmentMethod.errors }" maxlength="250"
                  class="form-control" aria-describedby="" autofocus="" tabindex="1"></textarea>
               <div *ngIf="submitted && f.treatmentMethod.errors" class="invalid-feedback">
                  <div *ngIf="f.treatmentMethod.errors.required"> El treatmentMethod es obligatorio</div>
                  <div *ngIf="f.treatmentMethod.errors.maxlength">El treatmentMethod no puede tener mas de 250
                     caracteres </div>
               </div>
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:-10px;">
                  <label class="form-label">controlTypeId</label>
                  <label style="margin-left: 5px;">(</label>
                  <label style="font-size: 22px; margin-top:-1px;">*</label>
                  <label>)</label>
               </div>
               <select formControlName="controlType" [ngClass]="{ 'is-invalid': submitted && f.controlType.errors }"
                  class="form-control">
                  <option value=""> Seleccione </option>
                  <option *ngFor="let controlType of controlTypes" [value]="controlType.controlTypeId">{{
                     controlType.name}} </option>
               </select>
               <div *ngIf="submitted && f.controlType.errors" class="invalid-feedback">
                  <div *ngIf="f.controlType.errors.required"> El controlTypeId es obligatorio</div>
               </div>
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:2px;">
                  <label class="form-label">controlsToImplement</label>
               </div>
               <textarea rows="3" formControlName="controlsToImplement"
                  [ngClass]="{ 'is-invalid': submitted && f.controlsToImplement.errors }" maxlength="500"
                  class="form-control" aria-describedby="" autofocus="" tabindex="1"></textarea>
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:2px;">
                  <label class="form-label">menaceLevelWithTreatment</label>
               </div>
               <input type="number" formControlName="menaceLevelWithTreatment"
                  [ngClass]="{ 'is-invalid': submitted && f.menaceLevelWithTreatment.errors }" maxlength="5"
                  class="form-control" aria-describedby="" autofocus="" tabindex="1">
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:2px;">
                  <label class="form-label">vulnerabilityLevelWithTreatment</label>
               </div>
               <input type="number" formControlName="vulnerabilityLevelWithTreatment"
                  [ngClass]="{ 'is-invalid': submitted && f.vulnerabilityLevelWithTreatment.errors }" maxlength="5"
                  class="form-control" aria-describedby="" autofocus="" tabindex="1">
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:-10px;">
                  <label class="form-label">riskAssessmentValueWithTreatment</label>
                  <label style="margin-left: 5px;">(</label>
                  <label style="font-size: 22px; margin-top:-1px;">*</label>
                  <label>)</label>
               </div>
               <input type="number" formControlName="riskAssessmentValueWithTreatment"
                  [ngClass]="{ 'is-invalid': submitted && f.riskAssessmentValueWithTreatment.errors }" maxlength="5"
                  class="form-control" aria-describedby="" autofocus="" tabindex="1">
               <div *ngIf="submitted && f.riskAssessmentValueWithTreatment.errors" class="invalid-feedback">
                  <div *ngIf="f.riskAssessmentValueWithTreatment.errors.required"> El riskAssessmentValueWithTreatment
                     es obligatorio</div>
                  <div *ngIf="f.riskAssessmentValueWithTreatment.errors.maxlength">El riskAssessmentValueWithTreatment
                     no puede tener mas de 5 caracteres </div>
               </div>
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:-10px;">
                  <label class="form-label">riskLevelWithImplementedControlld</label>
                  <label style="margin-left: 5px;">(</label>
                  <label style="font-size: 22px; margin-top:-1px;">*</label>
                  <label>)</label>
               </div>
               <input type="number" formControlName="riskLevelWithImplementedControlld"
                  [ngClass]="{ 'is-invalid': submitted && f.riskLevelWithImplementedControlld.errors }" maxlength="5"
                  class="form-control" aria-describedby="" autofocus="" tabindex="1">
               <div *ngIf="submitted && f.riskLevelWithImplementedControlld.errors" class="invalid-feedback">
                  <div *ngIf="f.riskLevelWithImplementedControlld.errors.required"> El riskLevelWithImplementedControlld
                     es obligatorio</div>
                  <div *ngIf="f.riskLevelWithImplementedControlld.errors.maxlength">El riskLevelWithImplementedControlld
                     no puede tener mas de 5 caracteres </div>
               </div>
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:-10px;">
                  <label class="form-label">residualRisk</label>
                  <label style="margin-left: 5px;">(</label>
                  <label style="font-size: 22px; margin-top:-1px;">*</label>
                  <label>)</label>
               </div>
               <input type="text" formControlName="residualRisk"
                  [ngClass]="{ 'is-invalid': submitted && f.residualRisk.errors }" maxlength="200" class="form-control"
                  aria-describedby="" autofocus="" tabindex="1">
               <div *ngIf="submitted && f.residualRisk.errors" class="invalid-feedback">
                  <div *ngIf="f.residualRisk.errors.required"> El residualRisk es obligatorio</div>
                  <div *ngIf="f.residualRisk.errors.maxlength">El residualRisk no puede tener mas de 200 caracteres
                  </div>
               </div>
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:2px;">
                  <label class="form-label">activities</label>
               </div>
               <input type="text" formControlName="activities"
                  [ngClass]="{ 'is-invalid': submitted && f.activities.errors }" maxlength="200" class="form-control"
                  aria-describedby="" autofocus="" tabindex="1">
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:2px;">
                  <label class="form-label">implementationStartDate</label>
               </div>
               <div class="input-group date datepicker">
                  <input matInput readonly tabindex="1" class="form-control" formControlName="implementationStartDate"
                     name="implementationStartDate" [matDatepicker]="basicDatepickerimplementationStartDate">
                  <span class="input-group-addon input-group-append border"
                     style="height: 37px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;">
                     <mat-datepicker-toggle [for]="basicDatepickerimplementationStartDate"></mat-datepicker-toggle>
                  </span>
               </div>
               <mat-datepicker #basicDatepickerimplementationStartDate required style="z-index:99999;"></mat-datepicker>
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:2px;">
                  <label class="form-label">verificationDate</label>
               </div>
               <div class="input-group date datepicker">
                  <input matInput readonly tabindex="1" class="form-control" formControlName="verificationDate"
                     name="verificationDate" [matDatepicker]="basicDatepickerverificationDate">
                  <span class="input-group-addon input-group-append border"
                     style="height: 37px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;">
                     <mat-datepicker-toggle [for]="basicDatepickerverificationDate"></mat-datepicker-toggle>
                  </span>
               </div>
               <mat-datepicker #basicDatepickerverificationDate required style="z-index:99999;"></mat-datepicker>
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:2px;">
                  <label class="form-label">responsibleId</label>
               </div>
               <select formControlName="responsible" [ngClass]="{ 'is-invalid': submitted && f.responsible.errors }"
                  class="form-control">
                  <option value=""> Seleccione </option>
                  <option *ngFor="let responsible of responsibles" [value]="responsible.responsibleId">{{
                     responsible.name}} </option>
               </select>
            </div>
            <div class="form-group">

               <div style="display:flex; margin-bottom:2px;">
                  <label class="form-label">observation</label>
               </div>
               <textarea rows="3" formControlName="observation"
                  [ngClass]="{ 'is-invalid': submitted && f.observation.errors }" maxlength="500" class="form-control"
                  aria-describedby="" autofocus="" tabindex="1"></textarea>
            </div>


            <div class="col-md-12 text-center mt-3">
               <button *ngIf="!loading2" type="submit" rippleeffect="" class="btn btn-primary mr-1 waves-effect"
                  style="width:180px;height: 40px;">GUARDAR</button>
               <button *ngIf="loading2" type="button" disabled="" rippleeffect=""
                  class="btn btn-outline-primary waves-effect mr-1" style="width:180px;height: 40px;">
                  <span role="status" aria-hidden="true" class="spinner-border spinner-border-sm"></span>
                  <span class="ml-25 align-middle">Guardando...</span>
               </button>
               <button type="reset" rippleeffect="" class="btn btn-outline-secondary waves-effect"
                  (click)="close()">CANCELAR</button>
            </div>


         </form>
      </div>
   </div>

</ng-container>